* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #ff575f;
    --color-secondary: #396a4d;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header a {
    color: var(--color-primary);
    font-weight: 700;
    text-decoration: none;
}

header > nav a:hover {
    text-decoration: underline;
}